* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*spacing of logo and sign in button*/
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px; 
}
/*make logo and sign-in button line-up*/
/*.logo{
    display:block;
}*/

/*adding font*/
body{
    font-family: Helvetica, arial, sans-serif;
    background-color: black;
    background-image: url(./Images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*resize logo*/
img{
    height:37px;
}

/*move sign in button to right side*/
.signIn{
    text-align: right;

}   

/*Style sign-in button*/
.button{
    
    background-color: #e50914; 
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    border: none;
    
}

/*Styling of sign in form*/
.showcase-content {
	position:relative;
	width: 450px;
	height: 650px;
	background: rgb(0, 0, 0, 0.65);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}



.formm h1 {
	margin-bottom: 20px;
    
}

.formm {
	width: 100%;
	margin-bottom: 40px;
   
   
}

.formm .info {
	padding: 5px 0;
	margin-bottom: 20px;
}

.formm .info .email {
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: inherit;
}

.formm .btn {
	margin-bottom: 10px;
	width: 100%;
}

/*styling of sign-in button*/
.btn-primary {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}
/*Centering the form block*/
