/*spacing of logo and sign in button*/
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px; 
}
/*make logo and sign-in button line-up*/
/*.logo{
    display:block;
}*/

/*adding font*/
body{
    font-family: Helvetica, arial, sans-serif;
    background-color: black;
    background-image: url(./Images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*resize logo*/
img{
    height:37px;
}

/*move sign in button to right side*/
.signIn{
    text-align: right;

}   

/*Style sign-in button*/
button{
    
    background-color: #e50914; 
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    border: none;
    


}

